
.box-style {
    background-color: #FBFAFC;
    width: 526px;
    height : 240px;
}

.header-style {
    font-size: 32px; 
    color:#1F3A68;
    padding-left: 36px; 
    padding-right: 36px;
    padding-top: 20px;
}

.text-style {
    font-size: 22px;
    color: #555454;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
}

.hr-lines:before{
    content:" ";
    display: block;
    height: 1.99px;
    width: 62.47px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #E4D1F0;
  }

  .hr-lines{
    position: relative;
  }

  .hr-lines{
    position: relative;
    /*  new lines  */
    max-width: 400px;
    margin: 48px auto;
    text-align: center;
  }

  .hr-lines:after{
    content:" ";
    height: 1.99px;
    width: 62.47px;
    background: #E4D1F0;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }